<h1>Youngest Director</h1>

<% directors_asc = Director.where.not({ :dob => nil }).order({ :dob => :asc }) %>

<% youngest_director = directors_asc.last %>

<div>
  The youngest director in our dataset right now is <a href="/directors/<%= youngest_director.id %>"> <%= youngest_director.name %> </a>, 

  born on <%= youngest_director.dob.strftime("%B %d, %Y") %>.
</div>
